<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mobile.obito">

    <application
        android:allowBackup="true"
        android:icon="@drawable/faily_tail"
        android:label="@string/app_name"
        android:theme="@style/ObitoAppTheme">
        <activity
            android:name=".home.ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Android群英传 -->
        <activity android:name=".androidheroes.systemwidget.ui.activity.SystemWidgetActivity"></activity>
        <activity android:name=".androidheroes.systemwidget.ui.activity.MyViewTest"></activity>
        <activity android:name=".androidheroes.systemwidget.ui.activity.TopBarTest"></activity>
    </application>

</manifest>
